<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="expo.modules.cafebazaarbilling">
  <!-- Required so the app can query/connect to Cafe Bazaar for in-app billing. -->
  <queries>
    <package android:name="com.farsitel.bazaar" />
  </queries>
  <application>
    <activity
      android:name=".BillingActivity"
      android:theme="@android:style/Theme.Translucent.NoTitleBar"
      android:exported="false" />
  </application>
</manifest>
